
@import url(http://fonts.googleapis.com/css?family=Montserrat);
  
* {
    margin: 0;
    padding: 0;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}
.width{
    margin: 0 auto;
}
.line{
    width: 100%;
    margin: 90px 240px 0px 120px; 
}
.line_img{
    display: inline-block;
    vertical-align: top;
}
.line_text{
    display: inline-block;
    padding-top: 44px;
    vertical-align: top;
    width: 370px;
    margin-left: 59px;
    padding-left: 51px;
}

.text_img{
    margin: 0px 279px 0px 51px;
}
.text_first{
font-family: 'Montserrat', 'sans-serif' ;
font-weight: 700;
font-size: 12px;
letter-spacing: 2.4px;
text-transform: uppercase;
color:#9fa3a7;

}
.text_first::before{
    margin-left: 31px;
    margin-right: 9px;
    padding: 3px 3px 0px 9px;
    content: "1";
    font-family: 'Montserrat', 'sans-serif' ;
    font-weight: 700;
    font-size: 12px;
    background-color: #ffc80a;
    color: #ffffff;
    border-radius: 50%;

}
.text_second{
    width: 283px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #212121;
    margin: 19px 11px 22px 51px;
    text-align: left;
}
.text_three{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #9FA3A7;
    margin-bottom: 20px;
    margin-left: 51px;
    text-align: left;
}
.second_text_first{
    font-family: 'Montserrat', 'sans-serif' ;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color:#9fa3a7
    }
    .second_text_first::before{
        margin-left: 31px;
        margin-right: 9px;
        padding: 3px 2px 1px 8px;
        content: "2";
        font-family: 'Montserrat', 'sans-serif' ;
        font-weight: 700;
        font-size: 12px;
        background-color: #ffc80a;
        color: #ffffff;
        border-radius: 50%;
    }
    .hr{
    width: 960px;
    color:  #D1D1D1;
    margin: 0 auto;
    }