
@import url(http://fonts.googleapis.com/css?family=Montserrat);
  
* {
    margin: 0;
    padding: 0;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-align: center;
}

.header{
background-color: #000000;
}

.home {
    
    width: 1440px;
    height: 700px;
    background-image:url(/img/Home\ Background\ Image.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

}  
 .Logo{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;

 }   
  
.main h3 {
  width: 430px;
  height: 32px;
  margin: 205px 91px 52px 250px;
  font-family: DroidSerif;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
}
.main h1{
  width: 844px;
  height: 55px;
  margin: 52px 47px 179px 42px;
  font-family: Montserrat;
  font-size: 75px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.88px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  
}


.Logo-Treehouse{
  float: left;
  margin-right: 200px;
}


.menu ul{
  list-style: none;
  
}
.menu li{
  display: inline-block;
  
  
}
.menu a {
  width: 45px;
  height: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.93;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 7px 20px;
  text-transform: uppercase;
  text-decoration: none;
 
}

.menu a:hover {
    background-color:  #08081a;
    color: #00ffff;
}

.button a {
  width: 240px;
  height: 65px;
  margin: 59px 65px 0 75px;
  padding: 25px 51px 26px;
  border-radius: 3px;
  background-color: #fed136;
  width: 138px;
  height: 14px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.services__body {
  max-width: 823px;
  margin: 0px auto; }

.services__header {
  margin: 0px 0px 65px 0px; }

.services__title {
  margin: 0px 0px 30px 0px; }

.services__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto; }

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px; }

.services__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%; }

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0px 0px 30px 0px; }
  .title:after {
    content: '';
    position: absolute;
    width: 50px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background-color: #000;
    margin: 0px 0px 0px -25px; }

.item-services__icon {
  margin: 0px auto 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.item-services__title {
  text-align: center;
  color: #000000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 35px 0px; }

.item-services__text {
  text-align: center;
  color: #868585;
  line-height: 26px;
  font-weight: 300;
  font-size: 14px; }