@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Arvo&display=swap);

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  text-align: center;
  background-color: #ffc80b;
}

  .form_wrapper {
  display: flex;
  justify-content: center;
  background-image: url(../img/bg.png); 
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
 
}

.form_block > h1{
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  margin-top: 117px;
  margin-bottom: 15px;

}
.form_second-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}
    

.form_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 880px;
  height: 440px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 70px 200px 120px 200px;
 
}
.item-about {
  display: inline-block;
  margin: 62px;
}
  

.item-about__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin: 0px 0px 35px 0px; 
  text-align: center;
  letter-spacing: 2.4px;
  color: #9FA3A7;
      
  }
  
.item-about__text {
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    color: #212121;
    margin-top: 32px;
    width: 322px;
  }
.item-about__text_description {

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #9FA3A7;
    margin: 30px 50px 39px 50px;
    width: 210px;
    text-align: center;
  }



#contact button[type="submit"] {
    cursor: pointer;
    width: 147px;
    height: 46px;
    border-radius: 25px;
    border: 3px solid #FFC80A;
    background: #FFFFFF;
    color: #212121;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.4px;
    margin: 0 0 5px;
    padding: 10px;
  }
  
#contact button[type="submit"]:hover {
    background:#ffc80b;
  }
#contact1 button[type="submit"] {
    cursor: pointer;
    width: 147px;
    height: 46px;
    border-radius: 25px;
    border: 3px solid #FFC80A;
    background: #FFFFFF;
    color: #212121;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.4px;
    margin: 0 0 5px;
    padding: 10px;
  }
  
#contact button[type="submit1"]:hover {
    background:#ffc80b;
  }
 
  