
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
  
* {
    margin: 0;
    padding: 0;
}

.wrapper {
   width: 1280px;
   margin: 0 auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top: 80px;
  
}
.product-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} 
.product-view {
  display: flex;
  flex-direction: column;
  padding-right:20px;
  position: absolute;
} 
.product-view a img {
  width: 30px;
  height: 30px;
  border: 2px solid #DBDBDB;
  border-radius: 50%;

}
.product-view a img:hover {
  width: 35px;
  height: 35px;
  border: 3px solid #c4c4c4;
  border-radius: 50%;
}

.product-tag{
  position: relative;
  text-align: center;
  padding:2px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  width: 70px;
  height: 10px; 
  border-radius: 4px;
  background-color: #8F75BE;
  color: #ffffff;
  
}

.product-heading h1 {
  font-family: Montserrat;
  font-size: 36px;
  color: #292929;
  font-style: normal;
  margin-bottom: 27px;
}
.product-star button,
.colors button {
  outline: none !important;
  border: none;
  background-color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;

}
.product-star button:active {
  transform: translateY(1px);
  
}
.product-description {
  width: 471px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #9FA3A7;
  margin-bottom: 24px;
}
.product-quantity, 
.product-color,
.product-footer {
  display: flex;
  width: 600px;
  margin-bottom: 50px;
}
.product-quantity p,
.product-color p,
.product-footer p {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
letter-spacing: 2.4px;
color: #9FA3A7;
padding-top: 12px ;
margin-right: 50px;
}
.product-quantity .btn{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 88px;
  height: 30px;
  border: 2px solid #EEEEEE;
  border-radius: 15px;

}


.product-quantity .btn  input[type="text"]{
  width: 40px;
  text-align: center;
  border: medium none !important;
  outline: none;

}
.btn button {
  outline: none !important;
  border: none;
  background-color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;
  padding-top: 8px;

}
.btn button:first-child{
  padding-top: 6px;
} 

.colors button {
  height: 35px;
  padding-left: 9px;
  margin-bottom: 59px;
}
.colors button:active {
  transform: translateY(1px)
}
.product-price {
  display: flex;
  justify-content: flex-end;
  width: 471px;

}
.product-price h2{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
color: #292929;
margin-bottom: 23px;
}
.product-price p{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 23px;
color: #9FA3A7;
padding-left: 4px;

}
hr{
 width: 480px;
 color: #E8E9ED;
margin-bottom: 30px;
}

.product-footer p {
  padding: 21px 124px 0px 21px;

}


.product-footer button[type="submit"] {
  cursor: pointer;
  width: 147px;
  height: 46px;
  border-radius: 25px;
  border: 3px solid #FFC80A;
  background: #FFFFFF;
  color: #212121;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.4px;
  margin: 0 0 5px;
  padding: 10px;
  outline: none;
}

.product-footer button[type="submit"]:hover {
  background:#ffc80b;
}


