
* {
    margin: 0;
    padding: 0;
}
.containers{
  display: flex;
  justify-content: space-evenly;
}
.avatar1,
.avatar2,
.avatar3 {
  width: 300px;
  height: 300px;
  margin-top: 30px;
} 


.wrapper
{
  width: 300px;
  height: 300px;
  position:absolute;
}

.avatar1 .eyes,
.avatar2 .eyes,
.avatar3 .eyes{
  position:relative;
  bottom: 300px;
  left: 100px;
  z-index: 2;
  
}
.avatar1 .head,
.avatar2 .head,
.avatar3 .head {
  position:relative;
  bottom: 45px;
  right: 30px;
  z-index: 1;

}
.avatar1 .nose,
.avatar2 .nose,
.avatar3 .nose {
  position:relative;
  bottom: 330px;
  left: 135px;
  z-index: 3;
} 
.avatar1 .mouth,
.avatar2 .mouth,
.avatar3 .mouth {
  position:relative;
  bottom: 335px;
  left: 110px;
  z-index: 4;
}
.avatar1 .chin,
.avatar2 .chin,
.avatar3 .chin {
  position:relative;
  bottom: 425px;
  left: 60px;
  z-index: 6;
}
.avatar1 .body,
.avatar2 .body,
.avatar3 .body {
  position:relative;
  bottom: 704px;
  right: 11px;
  z-index: 0;
}
.avatar1 .closes,
.avatar2 .closes,
.avatar3 .closes {
  position:relative;
  bottom: 847px;
  right: 11px;
  z-index: 5;
}
